{% extends 'base.html' %}

{% block content %}
<h2>Postuler pour l'offre : {{ offre.nom }}</h2>

<p><strong>Catégorie :</strong> {{ offre.categorie }}</p>
<p><strong>Description :</strong> {{ offre.description }}</p>
<p><strong>Rémunération :</strong> {{ offre.renumeration_min }} - {{ offre.renumeration_max }} FCFA</p>
<p><strong>Type de contrat :</strong> {{ offre.get_type_de_contrat_display }}</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Postuler</button>
</form>

<a href="{% url 'categorie' %}">Retour aux offres</a>
{% endblock %}
